{{ $block := .Scratch.Get "current_block" }}
{{ $context := . }}
{{ $column1Header := $block.column_1_header }}
{{ $column2Header := $block.column_2_header }}
{{ $showColumn2 := $block.show_second_column }}

<table class="timeline-table">

    {{ if or $column1Header $column2Header}}
        <thead>
            <tr>
                <td class="timeline-table--header" />
                {{ if $column1Header }}
                    <td class="timeline-table--header">
                        {{ $column1Header }}
                    </td>
                {{ else }}
                    <td class="timeline-table--header"> />
                {{ end }}
                {{ if $showColumn2 }}
                    {{ if $column2Header }}
                        <td class="timeline-table--header">
                            {{ $column2Header }}
                        </td>
                    {{ else }}
                        <td class="timeline-table--header" />
                    {{ end }}
                {{ end }}
            </tr>
        </thead>

    {{ end }}

    {{ if $block.dates }}
        {{ if gt (len $block.dates) 0 }}
            <tbody>
                {{ range $block.dates }}
                    <tr>
                        <td class="timeline-table--date">
                            {{ .date }}
                        </td>
                        <td class="timeline-table--col1">
                            {{ .column_1 | markdownify }}
                        </td>
                        {{ if $showColumn2 }}
                            <td class="timeline-table--col2">
                                {{ .column_2 | markdownify }}
                            </td>
                        {{ end }}
                    </tr>
                {{ end }}
            </tbody>
        {{ end }}
    {{ end }}

</table>