{{ $block := .Scratch.Get "current_block" }}
{{ $context := . }}

{{ if $block.columns }}
    {{ if eq $block.columns "2" }}
        {{ .Scratch.Set "grid_width" "w-1/2" }}
    {{ end }}

    {{ if eq $block.columns "3" }}
        {{ .Scratch.Set "grid_width" "w-1/3" }}
    {{ end }}

    {{ if eq $block.columns "4" }}
        {{ .Scratch.Set "grid_width" "w-1/4" }}
    {{ end }}
{{ end }}

<div class="
    grid
    {{ if $block.vertical_alignment }}
        {{ if eq $block.vertical_alignment "Center" }}
            grid--center
        {{ end }}
        {{ if eq $block.vertical_alignment "Bottom" }}
            grid--bottom
        {{ end }}
    {{ end }}
">

{{ if $block.column_1 }}
    {{ if gt (len $block.column_1) 0 }}
        {{ if $block.column_1_span }}
            {{ if eq $block.column_1_span "1" }}
                {{ .Scratch.Set "grid_width" "w-1/3" }}
            {{ end }}
            {{ if eq $block.column_1_span "2" }}
                {{ .Scratch.Set "grid_width" "w-1/2" }}
            {{ end }}
            {{ if eq $block.column_1_span "3" }}
                {{ .Scratch.Set "grid_width" "w-2/3" }}
            {{ end }}
        {{ end }}
        <div class="grid__column {{ .Scratch.Get "grid_width" }}">
            {{ range $index, $gridBlock := $block.column_1 }}
                {{ $.Scratch.Set "current_block" $gridBlock }}
                {{ partial (printf "contentBlocks/%s.html" $gridBlock.template) $context }}
                {{ $.Scratch.Set "current_block" $block }}
            {{ end }}
        </div>
    {{ end }}
{{ end }}

{{ if $block.column_2 }}
    {{ if gt (len $block.column_2) 0 }}
        {{ if $block.column_2_span }}
            {{ if eq $block.column_2_span "1" }}
                {{ .Scratch.Set "grid_width" "w-1/3" }}
            {{ end }}
            {{ if eq $block.column_2_span "2" }}
                {{ .Scratch.Set "grid_width" "w-1/2" }}
            {{ end }}
            {{ if eq $block.column_2_span "3" }}
                {{ .Scratch.Set "grid_width" "w-2/3" }}
            {{ end }}
        {{ end }}
        <div class="grid__column {{ .Scratch.Get "grid_width" }}">
            {{ range $index, $gridBlock := $block.column_2 }}
                {{ $.Scratch.Set "current_block" $gridBlock }}
                {{ partial (printf "contentBlocks/%s.html" $gridBlock.template) $context }}
                {{ $.Scratch.Set "current_block" $block }}
            {{ end }}
        </div>
    {{ end }}
{{ end }}

{{ if $block.column_3 }}
    {{ if gt (len $block.column_3) 0 }}
        <div class="grid__column {{ .Scratch.Get "grid_width" }}">
            {{ range $index, $gridBlock := $block.column_3 }}
                {{ $.Scratch.Set "current_block" $gridBlock }}
                {{ partial (printf "contentBlocks/%s.html" $gridBlock.template) $context }}
                {{ $.Scratch.Set "current_block" $block }}
            {{ end }}
        </div>
    {{ end }}
{{ end }}

{{ if $block.column_4 }}
    {{ if gt (len $block.column_4) 0 }}
        <div class="grid__column {{ .Scratch.Get "grid_width" }}">
            {{ range $index, $gridBlock := $block.column_4 }}
                {{ $.Scratch.Set "current_block" $gridBlock }}
                {{ partial (printf "contentBlocks/%s.html" $gridBlock.template) $context }}
                {{ $.Scratch.Set "current_block" $block }}
            {{ end }}
        </div>
    {{ end }}
{{ end }}

</div>