{{ $block := .Scratch.Get "current_block" }}
{{ $imageResource := (.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" $block.image ) }}

<div class="image-with-caption
    {{ if eq $block.alignment "Left" }}float--left image-with-caption--float{{ end }}
    {{ if eq $block.alignment "Right" }}float--right image-with-caption--float{{ end }}
    {{ if eq $block.alignment "Tile" }}image-with-caption--tile{{ end }}
    {{ if eq $block.alignment "Tile" }}image-with-caption--center{{ end }}
">
    {{ if and (isset $block "caption") (eq $block.caption_location "Top") }}
        <div class="image-with-caption__caption">
            {{ $block.caption | markdownify }}
        </div>
    {{ end }}

    <a href="{{ if $block.link }}{{ $block.link }}{{ else }}{{ $block.image }}{{ end }}" class="image-with-caption__image-link">
        <img
            {{ $imageResource := (.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" $block.image ) }}
            {{ if $imageResource }}
                {{ if or (gt $imageResource.Width 400) (gt $imageResource 400) }}
                    src="{{ ($imageResource.Fill "350x350 Top").Permalink }}"
                {{ else }}
                    src="{{ $imageResource.Permalink }}"
                {{ end }}
            {{ else }}
                src="{{ $block.image_url }}"
            {{ end }}
            class="image-with-caption__image"
        />
    </a>

    {{ if and (isset $block "caption") (eq $block.caption_location "Bottom") }}
        <div class="image-with-caption__caption">
            {{ $block.caption | markdownify }}
        </div>
    {{ end }}
</div>