$color-primary-light: lighten(saturate($color-primary, 50%), 15%);

@mixin onDesktop() {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin onMobile() {
  @media screen and (max-width: $mobile-breakpoint - 1) {
    @content;
  }
}

.screenReaderText {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.hideOnMobile {
	@include onMobile() {
		display: none !important;
	}
}

.hideOnDesktop {
	@include onDesktop() {
		display: none !important;
	}
}

@mixin card() {
	padding: $spacing-normal;
	box-shadow: 0 3px 12px -3px rgba($color-foreground, .45);
	border-radius: 5px;
	border: 1px solid transparent;
  transform: translateY(0);
	&:hover {
		border-color: rgba($color-foreground, .1);
    box-shadow: 0 5px 48px -5px rgba($color-foreground, .15);
    transform: translateY(-.1em);
    transition: .15s ease-in-out all;
	}
}