.longForm {
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: $spacing-normal;
		clear: left;
	}
	h2 {
		font-size: $font-size-large;
	}

	h3 {
		font-size: $font-size-normal;
	}

	h4,
	h5 {
		font-size: $font-size-normal;
	}

	h5 {
		font-size: $font-size-smaller;
	}
	hr {
		border: 0;
		border-bottom: 1px solid rgba($color-foreground, 0.15);
		margin: $spacing-larger 0;
		width: 50%;
	}
	a[name*="ref"],
	a[href*="_ftn"] {
		color: $color-foreground;
		font-size: $font-size-smallest;
		text-decoration: none;
		display: inline-block;
		vertical-align: super;
		padding: 3px;
		// This makes footnotes a lot easier to hit on mobile
		position: relative;
		&:before {
			position: absolute;
			top: -15px;
			right: -15px;
			bottom: -15px;
			left: -15px;
			content: "";
		}
		&:hover,
		&:active,
		&:focus {
			background: $color-foreground;
			color: $color-background;
		}
	}
	a[href*="ref"][href*="#_"],
	a[href*="_ftnref"],
	a[name*="note"] {
		color: $color-foreground;
		font-weight: bold;
		display: inline-block;
		clear: left;
		margin-right: $spacing-small;
		text-decoration: none;
		&:target {
			animation-name: footnoteHighlight;
			animation-duration: 15s;
			border-left: 1px solid transparent;
			&:before {
				content: "\00BB ";
				padding: 0 $spacing-normal;
			}
		}
	}
	li {
		max-width: $max-paragraph-line-width;
	}
}

@keyframes footnoteHighlight {
	from {
		background: yellow;
		border-color: $color-foreground;
	}
	to {
		background: transparent;
		border-color: transparent;
	}
}
