.logo {
	margin: 0 auto;
	.navOpen & {
		visibility: hidden;
	}
	@include onDesktop() {
		width: auto;
		height: auto;
		overflow: hidden;
		min-height: 0;
	    line-height: 1;
	    margin: 0;
	}
}

.logoH1 {
	font-size: $font-size-normal;
	line-height: 1;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
}

.logoLink {
	display: block;
	text-align: center;
	font-size: $font-size-smaller;
	font-weight: bold;
	@include onDesktop() {
		max-width: 250px;
	}
}

.logoProjectImage {
	max-width: 100%;
	border: 0;
}

.logo svg {
	fill: fillCurrent;
}

.logoDesktop {
	display: none;
}

.logoTextContainer {
	padding: $spacing-normal;
	max-width: 250px;
	@include onDesktop() {
		padding: $spacing-small;
		transform: none;
		width: auto;
		position: static;
		opacity: .8;
		&:hover {
			opacity: 1;
		}
	}
}

@include onDesktop() {
	.logoImage {
		display: none;
	}
}

.logoText {
	width: 100%;
	height: auto;
}