.footer {
  .grid {
    align-items: center;
  }
}

.footer a {
  color: $color-background;
  text-decoration: none;
  border-bottom: 1px solid rgba($color-background, 0.25);
}

.footer a:hover,
.footer a:focus {
  border-color: $color-background;
}

.footer .socialMediaFacebook {
  font-size: $font-size-largest;
  text-align: center;
  display: block;
  border: 0;
  opacity: 1;
  margin-top: $spacing-normal;
  @include onDesktop() {
    margin-top: 0;
  }
  &:hover,
  &:focus,
  &:active {
    .fab {
      color: white;
    }
  }
}

.footer-info {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li + li {
    margin-top: $spacing-smaller;
  }
}

.footer-consortium {
  margin-top: $spacing-large;
  text-align: center;
}

.footer__searchButton {
  background: transparent;
}
