.contentBlock {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $max-body-width;
  padding-left: $spacing-normal;
  padding-right: $spacing-normal;
}

.header {
  padding-top: $spacing-normal;
  padding-bottom: $spacing-normal;
  width: 100%;
}

.body {
  font-family: $font-family-long-copy;
  flex-grow: 1;
  width: 100%;
}

.footer {
  background: $color-foreground;
  color: $color-background;
  padding: $spacing-large 0;
  margin-top: $spacing-largest;
  display: flex;
  align-items: center;
  font-size: $font-size-small;
  font-family: $font-family-small;
  clear: both;
  width: 100%;
}

.footer a {
  color: $color-background;
  text-decoration: none;
  border-bottom: 1px solid rgba($color-background, .25);
}

.footer a:hover, .footer a:focus {
  border-color: $color-background;
}