.table-from-excel {
    font-family: $font-family-default;
    font-size: $font-size-small;
    width: 100%;
    overflow-x: scroll;
    display: inline;
    @include onDesktop() {
        overflow: auto;
    }
}

.table-from-excel table {
    min-width: 500px;
    td {
        padding: $spacing-small;
        border-bottom: 1px solid lighten($color-foreground, 80);
    }
    td[colspan="3"]:first-child {
        font-size: $font-size-large;
        font-weight: bold;
    }
    td:first-child {
        min-width: 7em;
    }
    tbody tr:first-child td {
        font-weight: bold;
        text-transform: uppercase;
        background: lighten($color-foreground, 60);
        color: $color-background;
    }
}