.youtube--playlist--info {
	padding: $spacing-normal $spacing-normal $spacing-smaller 25px;
	font-family: $font-family-default;
	font-weight: bold;
	font-size: $font-size-small;
	opacity: .5;
}

@include onDesktop() {
    .youtube--oral-history-wrapper {
        float: right;
        margin: 0 0 $spacing-normal $spacing-normal;
        width: 50%;
        max-width: 640px;
    }
}