.splashImage {
    display: table;
    max-width: 100%;
}

.splashImage img {
    width: 100%;
    height: auto;
}

.splashImageDesktop {
    display: none;
    @include onDesktop() {
        display: block;
    }
}

.splashImageMobile {
    @include onDesktop() {
        display: none;
    }
}

.splashImageCaption {
    font-family: $font-family-default;
    font-size: $font-size-smaller;
    line-height: 1.2;
    margin-top: $spacing-small;
    color: rgba($color-foreground, 0.5);
}
