.mediaWithText {
    @include onDesktop() {
        display: flex;
        justify-content: space-between;
    }
    & + & {
        margin-top: $spacing-largest;
    }
}

.mediaWithText__mediaContainer,
.mediaWithText__text {
    position: relative;
    z-index: 1;
}

.mediaWithText__mediaContainer {
    float: right;
    max-width: 25%;
    @include onDesktop() {
        flex-grow: 0;
        float: none !important;
    }
}

.mediaWithText--left {
    float: left;
}

.mediaWithText__text {
    flex-grow: 1;
}

.mediaWithText--right .mediaWithText__mediaContainer,
.mediaWithText--left .mediaWithText__text {
    order: 1;
    margin-left: $spacing-normal;
}

.mediaWithText__image {
    max-width: 100%;
    height: auto;
    @include onDesktop() {
        max-width: 250px;
    }
}

.mediaWithText__text {
    h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-default;
        font-weight: bold;
        font-size: $font-size-large;
        a {
            color: $color-primary;
            border-bottom: 1px solid rgba($color-foreground, .1);
            &:hover,
            &:focus,
            &:active {
                border-bottom-color: $color-primary;
                text-decoration: none;
                color: $color-foreground;
            }
        }
    }
}