.pageTitle--subProject {
    padding-bottom: $spacing-normal;
}

.projectSubNavigation {
    margin: $spacing-normal -#{$spacing-normal} 0;
    font-size: $font-size-small;
    font-family: $font-family-small;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    max-width: $max-body-width;
    padding: 0 $spacing-normal;
    @include onDesktop() {
        margin: $spacing-normal 0 0;
        padding: 0;
    }
}

.projectSubNavigation__link {
    color: rgba($color-background, 0.7);
    text-decoration: none;
    display: inline-block;
    background: $color-primary;
    padding: $spacing-small;
    border-radius: 3px;
    text-shadow: none;
    font-weight: bold;
    + .projectSubNavigation__link {
        margin-left: $spacing-small;
    }
    &:hover,
    &:focus,
    &:active,
    &.projectSubNavigation__link--current {
        background: lighten(saturate($color-primary, 50%), 15%);
        color: $color-background;
    }
}

.projectSubNavigation__link--current {
    pointer-events: none;
}
