.youtube--playlist--info {
    padding: $spacing-normal $spacing-normal $spacing-smaller 25px;
    font-family: $font-family-default;
    font-weight: bold;
    font-size: $font-size-small;
    opacity: 0.5;
}

@include onDesktop() {
    .youtube--video-wrapper {
        float: right;
        margin: 0 0 $spacing-normal $spacing-normal;
        width: 50%;
        max-width: 640px;
    }
    .youtube--video-wrapper--large {
        float: none;
        margin: 0 0 $spacing-normal 0;
        width: 100%;
        max-width: none;
    }
}

iframe[src*="youtube"] {
    display: block;
    border: 0;
    width: 100%;
    height: 75vh;
    min-height: 320px;
    max-height: 540px;
}
