.mediaWithText {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mediaWithText__mediaContainer,
.mediaWithText__text {
    position: relative;
    z-index: 1;
}

.mediaWithText__mediaContainer {
    flex-grow: 0;
}

.mediaWithText__text {
    flex-grow: 1;
}

.mediaWithText--right .mediaWithText__mediaContainer,
.mediaWithText--left .mediaWithText__text {
    order: 1;
    margin-left: $spacing-normal;
}

.mediaWithText__image {
    max-width: 250px;
    height: auto;
}