$sidebarOffset: 200px;

.sidebar h2 {
	font-weight: normal;
}

.sidebar h3 {
	clear: both;
	a {
		text-decoration: none;
	}
	a:hover,
	a:focus {
		text-decoration: underline;
	}
}

.sidebar ul,
.sidebar ol {
	padding: 0;
	margin-left: 1rem;
}

.sidebar blockquote {
	font-size: inherit;
	margin-left: 0;
}

.sidebar__drag-indicator {
	position: absolute;
	z-index: 20;
	top: -10px;
	left: -20px;
	font-size: $font-size-larger;
	color: $color-foreground;
	background: $color-background;
	border-radius: 100%;
	padding: 1px;
	transform: translateX(0);
	opacity: 1 !important;
	@include onDesktop() {
		display: none;
	}
	.shown & {
		transform: rotate(180deg) translateX(20px) scale(2, 2);
	}
}

.sidebar {
	color: $color-background;
	padding: $spacing-normal $spacing-small;
	box-shadow: 3px 3px 15px rgba($color-foreground, 0.15);
	font-family: $font-family-small;
	font-size: $font-size-smaller;
	line-height: 1.25;

	float: right;
	width: 300px;

	margin-right: calc(-#{$sidebarOffset} - #{$spacing-normal});
	margin-left: $spacing-normal;

	transition: all 1s $animation-easing-function;
	position: relative;

	border-radius: 3px;

	.centerCaption + & {
		padding-top: $spacing-small;
		border-top-left-radius: 3px;
		margin-top: 0;
	}

	@include onMobile() {
		background: $color-foreground;
		img {
			width: 100%;
			height: auto;
		}
		* {
			pointer-events: none;
		}
		&.shown {
			transform: translateX(-$sidebarOffset);
			* {
				pointer-events: auto;
				opacity: 1;
			}
			img {
				opacity: 1;
			}
		}
	}

	img {
		box-shadow: 3px 3px 5px -3px rgba($color-foreground, 0.15);
		margin-right: auto;
		margin-left: auto;
		display: block;
		border-radius: 3px;
	}

	hr {
		margin: $spacing-normal 0;
		border-color: rgba($color-background, 0.15);
		@include onDesktop() {
			border-color: rgba($color-foreground, 0.15);
		}
	}

	@include onDesktop() {
		padding: $spacing-normal;
		position: relative;
		transform: 0;
		margin-right: -#{$spacing-normal};
		margin-top: 0;
		max-width: 40vw;
		background: transparent;
		color: $color-foreground;
		box-shadow: none;
	}

	@include onMobile() {
		a {
			color: $color-background;
			text-decoration: underline;
			&:hover,
			&:focus,
			&:active {
				background: $color-background;
				color: $color-foreground;
			}
		}
		&:after {
			z-index: 10;
			display: block;
			content: "";
			width: 1px;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 50%;
			background: linear-gradient(
				rgba($color-foreground, 0.15),
				transparent
			);
		}
	}

	table {
		border: 1px solid rgba($color-foreground, 0.15);
		width: 100%;
		margin-top: $spacing-normal;
	}

	td {
		padding: $spacing-small;
	}
}

@include onDesktop() {
	.sidebar--wide {
		min-width: 350px;
		img {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.sidebar--subproject-list {
	.sidebar--subproject-list__image-link {
		margin-bottom: $spacing-large;
		width: 100%;
		height: auto;
		@include onDesktop() {
			max-width: 100px;
			margin-left: $spacing-small;
			float: right;
		}
	}
}
