.float--right,
.float--left {
    margin-top: $spacing-normal;
    margin-bottom: $spacing-normal;
    max-width: 50%;
}

.float--right {
	float: right;
	margin-left: $spacing-small;
}

.float--left {
	float: left;
	margin-right: $spacing-small;
}

.float--left + ul {
    display: table;
    display: flow-root;
    margin-left: $spacing-normal;
}