<!doctype html>
<html>
	<head>
		{{ partial "head.html" . }}
	</head>
	<body>
		<a href="#content" class="screen-reader-text">Skip to content</a>
		<div class="header">
			<div class="contentBlock">
				<div class="logo">
					{{ block "logo" . }}{{ partial "logo.html" . }}{{ end }}
				</div>
				{{ partial "searchTop.html" . }}
				{{ partial "navigation.html" . }}
			</div>
		</div>
		{{ partial "pageTitle.html" . }}
		<div class="body contentBlock longForm" id="content">
			{{ partial "sidebar.html" . }}
			{{ block "main" . }}{{ end }}
		</div>
		{{ partial "footer.html" . }}
		<script type="text/javascript" src="{{ "js/projects.js" | relURL }}"></script>
		<script type="text/javascript" src="{{ "js/hammer.js" | relURL }}"></script>
		<script type="text/javascript" src="{{ "js/global.js" | relURL }}"></script>
	</body>
</html>