{{ define "main" }}
	{{ if .Params.content_blocks }}
		{{ $.Scratch.Set "content_blocks" .Params.content_blocks }}
		{{ partial "contentBlocks.html" . }}
	{{ else }}
		{{ if .Params.youtube_link }}
            <div class="youtube--video-wrapper{{ if (isset .Params "large_player") | and .Params.large_player }} youtube--video-wrapper--large{{ end }}">
			    {{ partial "contentBlocks/youtubeVideo.html" .Params.youtube_link }}
            </div>
		{{ end }}
		{{ .Scratch.Set "filtered-content" .Content }}
		{{ partial "filterPasted.html" .Scratch }}
		{{ $content := .Scratch.Get "filtered-content" }}
		{{ $content | safeHTML }}
	{{ end }}
{{ end }}
