{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}

<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="description" content="{{ truncate 300 (plainify .Content) }}">

<title>
    {{ if isset .Params "canonical_title" | and (ne .Params.canonical_title "") }}
        {{ .Params.canonical_title }}{{ if .Params.subtitle }}:{{ end }}
    {{ else }}
        {{ .Title }}{{ if .Params.subtitle }}:{{ end }}
    {{ end }}
    {{ if .Params.subtitle }}{{ .Params.subtitle }}{{ end }}
    {{ if .Page.IsHome }}{{ else }}-{{ end }}
    {{ .Site.Title }}
</title>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700" rel="
stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,400i,900" rel="stylesheet">

{{ $styles := resources.Get "scss/main.scss" | toCSS $options }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
{{ $printStyles := resources.Get "scss/print.scss" | toCSS $options }}
<link rel="stylesheet" href="{{ $printStyles.Permalink }}" media="print">

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1972947-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1972947-1');
</script>