{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}

<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1" name="viewport">

<title>{{ .Title }}</title>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700" rel="
stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,400i,900" rel="stylesheet">

{{ $styles := resources.Get "scss/main.scss" | toCSS $options }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
{{ $printStyles := resources.Get "scss/print.scss" | toCSS $options }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="print">