<title>
    {{ if isset .Params "canonical_title" | and (ne .Params.canonical_title "") }}
        {{ .Params.canonical_title }}{{ if .Params.subtitle }}:{{ end }}
    {{ else }}
        {{ .Title }}{{ if .Params.subtitle }}:{{ end }}
    {{ end }}
    {{ if .Params.subtitle }}{{ .Params.subtitle }}{{ end }}
    {{ if .Page.IsHome }}{{ else }}-{{ end }}
    {{ .Site.Title }}
</title>

<meta name="description" content="{{ truncate 300 (plainify .Content) }}">

{{ safeHTML  `<?php`  }} include("templates/head.php"); ?>