<div class="navigation">
	<input type="checkbox" id="navigationToggleCheck" class="navigationToggleInput" />
	<label for="navigationToggleCheck" id="navigationToggleLabel" class="navigationToggleLabel">
		<span>Navigation</span>
		<i class="fas fa-bars"></i>
		<i class="fas fa-times-circle"></i>
	</label>
	<div class="navigationItems">
		<h3 class="navigationCurrentProject">{{ .Site.Params.projectTitle }}</h3>
		<div class="navigationList">
	        {{ $navigation := $.Site.GetPage "page" "templates/navigation.html" }}
		    {{ $navigation.Content | safeHTML }}
		</div>
		<input type="checkbox" id="navigationOverflow" />
		<label for="navigationOverflow" class="hide-on-mobile">
			<span>Explore the Project</span>
			<i class="fas fa-bars"></i>
		</label>
		<div class="navigationOverflow" id="navigationOverflow">
			<label for="navigationOverflow" class="hide-on-mobile">
				<span>Close</span>
				<i class="far fa-times-circle"></i>
			</label>
			<h3>Navigation</h3>
	        {{ $navigationOverflow := $.Site.GetPage "page" "templates/navigationOverflow.html" }}
		    {{ $navigationOverflow.Content }}
		</div>
	</div>
</div>