{{ if .Params.Subproject }}
	{{ .Scratch.Set "subproject" .Params.Subproject }}
	{{ partial "subProjectHeader.html" . }}
	<div class="subProjectPageTitle">
		<div class="contentBlock">
			<h1>{{ .Title }} </h1>
			{{ if .Params.Subtitle }}
				<h2>{{ .Params.Subtitle }}</h2>
			{{ end }}
		</div>
	</div>
{{ else }}
		<div class="pageTitle">
			<div class="contentBlock">
				<h1>{{ .Title }}</h1>
				{{ if .Params.Subtitle }}
					<h2>{{ .Params.Subtitle }}</h2>
				{{ end }}
				{{ if .Params.Author }}
					<div class="author">by Eleanor Mahoney</div>
				{{ end }}
			</div>
		</div>
{{ end }}