<div class="search search--top hideOnDesktop">
	<form method="get" action="http://www.google.com/search" _lpchecked="1" class="searchForm">
		<input type="text" name="q" class="searchInput" placeholder="Search the Projects" maxlength="255">
		<button type="submit" name="sa" class="searchButton"><span class="screen-reader-text">Search</span></button>
		<input type="hidden" name="hq" value="site:depts.washington.edu/depress OR site:depts.washington.edu/civilr OR site:depts.washington.edu/labhist">
		<input type="hidden" name="site" value="search">
		<input type="hidden" name="hl" value="en">
		<input type="hidden" name="lr" value="">
		<input type="hidden" name="safe" value="off">
	</form>
</div>