{{ $sidebar := .Site.GetPage .Params.sidebar }}
{{ if eq $sidebar.Content "" }}
    <hr />
{{ end }}

<h2>Special Sections</h2>

{{ $context := . }}
{{ range (where (where .Site.Pages "Type" "subproject-menus") "IsPage" true) }}
    {{ $subprojectHomePage := (.Site.GetPage "page" .Params.project_home_page) }}
    {{ if $subprojectHomePage }}
        <h3>
            <a href="{{ $subprojectHomePage.Permalink }}" title="{{ .Title }}">
                {{ if (not (isset .Params "canonical_title")) | or (eq .Params.canonical_title "") }}
                    {{ .Title }}
                {{ else }}
                    {{ .Params.canonical_title }}
                {{ end }}
            </a>
        </h3>
        {{ if isset .Params "image" }}
            {{ $imageResource := ($context.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.image ) }}
            {{ if $imageResource }}
                {{ $image := ($imageResource.Fill "150x150").Permalink }}
                <a href="{{ $subprojectHomePage.Permalink }}" class="sidebar--subproject-list__image-link" title="{{ .Title }}">
                    <img src="{{ $image }}" />
                </a>
            {{ end }}
        {{ end }}
        <p>
            {{ .Params.description }}
            <strong><a href="{{ $subprojectHomePage.Permalink }}" title="{{ .Title }}">More &rarr;</a></strong>
        </p>
    {{ end }}
{{ end }}