{{ if .Params.sidebar }}
	{{ $sidebar := .Site.GetPage .Params.sidebar }}
    {{ if $sidebar }}
    	<div class="
    		sidebar
    		{{ if $sidebar.Params.wide }} sidebar--wide{{ end }}
    		{{ if eq $sidebar.Params.type "Subproject List" }} sidebar--subproject-list{{ end }}
    	">
    		{{ $sidebar.Content }}
            {{ if eq $sidebar.Params.type "Subproject List" }}
                {{ partial "sidebarSubprojectList.html" . }}
            {{ end }}
            <i class="fas fa-chevron-circle-left sidebar__drag-indicator"></i>
    	</div>
    {{ end }}
{{ end }}