{{ if isset .Params "sidebar_content" }}
    {{ if ne .Params.sidebar_content "" }}
        {{ .Scratch.Set "filtered-content" (markdownify .Params.sidebar_content) }}
        {{ partial "filterPasted.html" .Scratch }}
        {{ $content := .Scratch.Get "filtered-content" }}
        <div class="sidebar">
            {{ $content | safeHTML }}
            <i class="fas fa-chevron-circle-left sidebar__drag-indicator"></i>
        </div>
    {{ end }}
{{ end }}

{{ if and (eq (relURL .URL) ("/" | safeHTML)) .Page.IsHome }}
    <div class="sidebar sidebar--wide sidebar--subproject-list">
        {{ partial "sidebarSubprojectList.html" . }}
        <i class="fas fa-chevron-circle-left sidebar__drag-indicator"></i>
    </div>
{{ end }}