{{ $subproject := .Site.GetPage "page" ($.Scratch.Get "subproject") }}
{{ $.Scratch.Set "current_sub_project" $subproject }}

{{ if isset $subproject "Params" }}

	{{ $subprojectHomePage := (.Site.GetPage "page" $subproject.Params.project_home_page) }}

	{{ if $subprojectHomePage }}

		{{ $subprojectHomeLink := $subprojectHomePage.URL | absURL }}

		<div class="pageTitle pageTitle--subProject">
			<div class="contentBlock">
				<h1><a href="{{ $subprojectHomeLink }}">{{ $subproject.Title }}</a></h1>
				{{ if isset $subproject.Params "pages" }}
					<div class="projectSubNavigation">
						{{ range $subproject.Params.pages }}
							{{ $page := cond (isset . "page") ($.Site.GetPage "page" .page) .url }}
							{{ if $page }}
								<a href="{{ $page.URL | absURL }}">
									{{ cond (isset . "title") .title $page.Title }}
								</a>
							{{ end }}
						{{ end }}
					</div>
				{{ end }}
			</div>
		</div>

		{{ if ne $subprojectHomePage .Page }}
			<div class="subProjectPageTitle">
				<div class="contentBlock">
					<h1>{{ cond (isset .Params "canonical_title") .Params.canonical_title .Title }}</h1>
					{{ if .Params.Subtitle }}
						<h2>{{ .Params.Subtitle }}</h2>
					{{ end }}
				</div>
			</div>
		{{ end }}

	{{ end }}

{{ end }}