{{ $subproject := .Site.GetPage "page" ($.Scratch.Get "subproject") }}

{{ if $subproject }}

	{{ $subprojectHomePage := (.Site.GetPage "page" $subproject.Params.project_home_page) }}
	{{ $subprojectHomeLink := $subprojectHomePage.URL | relURL }}

	<div class="pageTitle pageTitle--subProject">
		<div class="contentBlock">
			<h1><a href="{{ $subprojectHomeLink }}">{{ $subproject.Title }}</a></h1>
			{{ if $subproject.Params.pages }}
				<div class="projectSubNavigation">
					{{ range $subproject.Params.pages }}
						{{ if ne $subproject.Params.project_home_page . }}
							{{ $page := ($.Site.GetPage "page" .) }}
							<a href="{{ $page.URL | absURL }}">
								{{ $page.Title }}
							</a>
						{{ end }}
					{{ end }}
				</div>
			{{ end }}
		</div>
	</div>

	{{ if ne $subprojectHomePage .Page }}
		<div class="subProjectPageTitle">
			<div class="contentBlock">
				<h1>{{ .Title }} </h1>
				{{ if .Params.Subtitle }}
					<h2>{{ .Params.Subtitle }}</h2>
				{{ end }}
			</div>
		</div>
	{{ end }}

{{ end }}